<section class="login-page">
  <div class="login-container">

    <!-- Left Side - Login Form -->
    <div class="login-form">
      <h1>WELCOME BACK</h1>
      <p>Welcome back! Please enter your details.</p>

      <form [formGroup]="loginForm"  (ngSubmit)="onSubmit()">
        <div class="input-group">
          <input
            type="text"
            id="username"
            placeholder=" "
            required
            formControlName="username"
            [class.invalid]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
          />
          <label for="username">Enter your username</label>


          <div class="error-message" *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
            Username is required
          </div>
        </div>


        <div class="input-group">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            placeholder=" "
            required
            formControlName="password"
            [class.invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
          />
          <label for="password">Password</label>

          <span class="toggle-password" (click)="togglePasswordVisibility()">
            {{showPassword ? '🙈' : '👁️'}}
          </span>

          <div class="error-message" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            Password is required
          </div>
        </div>



        <div class="options">
          <label>
            <input type="checkbox" formControlName="rememberMe">
            Remember me
          </label>
          <a href="#">Forgot password?</a>
        </div>

        <button type="submit" class="btn-signin" [disabled]="isLoading">
          <ng-container *ngIf="!isLoading; else loading">
            Sign in
          </ng-container>
          <ng-template #loading>
            <span class="spinner"></span> Signing in...
          </ng-template>
        </button>


        <button class="btn-google">
          <img src="https://img.icons8.com/color/48/000000/google-logo.png"/> Sign in with Google
        </button>

        <p class="register-text">Don't have an account? <a routerLink="/register">Sign up for free!</a></p>
      </form>
    </div>

    <!-- Right Side - Image -->
    <div class="login-image">
      <img src="/assets/logo1.png" alt="Login Illustration">
    </div>

  </div>
</section>
