<section class="login-page">
  <div class="login-container">

    <!-- Left Side - Login Form -->
    <div class="login-form">
      <h1>WELCOME BACK</h1>
      <p>Welcome back! Please enter your details.</p>

      <form>
        <div class="input-group">
          <input type="text" id="username" placeholder=" " required>
          <label for="username">Enter your username</label>
        </div>

        <div class="input-group">
          <input type="password" id="password" placeholder=" " required>
          <label for="password">Password</label>
        </div>

        <div class="options">
          <label><input type="checkbox"> Remember me</label>
          <a href="#">Forgot password?</a>
        </div>

        <button type="submit" class="btn-signin">Sign in</button>

        <button class="btn-google">
          <img src="https://img.icons8.com/color/48/000000/google-logo.png"/> Sign in with Google
        </button>

        <p class="register-text">Don't have an account? <a routerLink="/register">Sign up for free!</a></p>
      </form>
    </div>

    <!-- Right Side - Image -->
    <div class="login-image">
      <img src="/assets/logo1.png" alt="Login Illustration">
    </div>

  </div>
</section>
