.products {
  padding: 50px 20px;
  text-align: center;
  background-color: #fff;
}

.products h2 {
  font-size: 32px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #333;
  border-bottom: 2px solid #1266f1;
  display: inline-block;
  padding-bottom: 5px;
}

.product-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 273px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

.product-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.product-card p {
  font-size: 18px;
  color: #1266f1;
  margin-bottom: 15px;
}

.btn {
  background-color: #1266f1;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #1266f1;
  border-radius: 5px;
  transition: background-color 0.3s, border 0.3s;
}

.btn:hover {
  background-color: #fff;
  color: #1266f1;
  padding: 10px 20px;
  border: 2px solid #1266f1;
  border-radius: 5px;
  transition: background-color 0.3s, border 0.3s;
}

.product-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

/*Addddd*/
.part-card {
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.part-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
