<div class="top-navbar" id="home">

  <div class="container d-flex align-items-center justify-content-between d-none d-lg-flex">

    <a class="navbar-brand" routerLink="/">
      <img src="assets/logo1.png" alt="DriveParts Logo">
    </a>

    <div class="search-container">
      <input type="search" class="search-input" placeholder="Search parts..."
             [(ngModel)]="searchString" (input)="onSearchChange()">
      <ul *ngIf="filteredParts.length > 0" class="search-dropdown">
        <li *ngFor="let part of filteredParts" (click)="selectPart(part)">
          <img [src]="'http://localhost:7000' + part.partImage || 'https://via.placeholder.com/50x50'"
               alt="{{ part.name }}" />
          <div>
            <p class="part-name">{{ part.name }}</p>
            <p class="part-description">{{ part.description }}</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="icon-links d-flex align-items-center">
      <a routerLink="/cart">
        <i class="fas fa-shopping-cart"></i> Cart
      </a>
      <div class="dropdown" (click)="toggleDropdown()">
        <a class="account-link" [class.open]="dropdownOpen">
          <img *ngIf="isLoggedIn" [src]="userProfileImage" class="profile-pic" alt="User Profile">
          <i *ngIf="!isLoggedIn" class="fas fa-user-circle profile-icon"></i>
          My Account <i class="fas fa-chevron-down" [class.open]="dropdownOpen"></i>
        </a>
        <ul *ngIf="dropdownOpen" class="dropdown-menu">
          <li><a routerLink="/my-offers">My Offers</a></li>
          <li><a routerLink="/settings">Settings</a></li>
          <li><a routerLink="/login">Login</a></li>
        </ul>
      </div>
    </div>

  </div>

  <div class="mobile-nav d-lg-none">

    <div class="mobile-logo text-center">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/logo1.png" alt="DriveParts Logo">
      </a>
    </div>

    <div class="icon-bar d-flex align-items-center justify-content-center">
      <a routerLink="/cart">
        <i class="fas fa-shopping-cart"></i> Cart
      </a>

      <div class="dropdown" (click)="toggleDropdown()">
        <a class="account-link" [class.open]="dropdownOpen">
          <i class="fas fa-user-circle"></i> My Account
          <i class="fas fa-chevron-down" [class.open]="dropdownOpen"></i>
        </a>
        <ul *ngIf="dropdownOpen" class="dropdown-menu">
          <li><a routerLink="/my-offers">My Offers</a></li>
          <li><a routerLink="/settings">Settings</a></li>
          <li><a routerLink="/login">Login</a></li>
        </ul>
      </div>

      <div class="mobile-menu-toggle" (click)="toggleMenu()">
        <i class="fas fa-bars"></i> Menu
      </div>
    </div>

    <div class="search-wrapper">
      <div class="search-container">
        <input type="search" class="search-input" placeholder="Search parts..."
               [(ngModel)]="searchString" (input)="onSearchChange()" #searchBox>


        <ul *ngIf="filteredParts.length > 0" class="search-dropdown">
          <li *ngFor="let part of filteredParts" (click)="selectPart(part)">
            <img [src]="'http://localhost:7000' + part.partImage || 'https://via.placeholder.com/50x50'"
                 alt="{{ part.name }}" />
            <div>
              <p class="part-name">{{ part.name }}</p>
              <p class="part-description">{{ part.description }}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <nav class="bottom-navbar d-none d-lg-flex">
    <div class="container">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/parts">Categories</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Brands</a></li>
        <li class="nav-item"><a class="nav-link" href="#">FAQ</a></li>
        <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
      </ul>
    </div>
  </nav>

  <div class="mobile-menu d-lg-none" [ngClass]="{'show': menuOpen}">
    <ul>
      <li (click)="closeMenu()" routerLink="/"><a>Home</a></li>
      <li (click)="closeMenu()" routerLink="/parts"><a>Categories</a></li>
      <li (click)="closeMenu()" href="#"><a>Brands</a></li>
      <li (click)="closeMenu()" href="#"><a>FAQ</a></li>
      <li (click)="closeMenu()" href="#"><a>About Us</a></li>
    </ul>
  </div>

</div>

